<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>

<h1><%= @group.name%>のメンバー一覧</h1>
<h3>グループに参加中のメンバー</h3>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Role</th>
    </tr>
  </thead>

  <tbody>
    <%= render @group.members %>
  </tbody>
</table>

<% if @group.members.length > 1 %>
  <%= link_to "幹事を設定する", operation_members_roles_path(group_id: @group.id), method: :post%>
<% end %>
<br>

<h3>グループに未参加のメンバー</h3>

<table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: 'members/not_participated_member', collection: @not_participated_members %>
  </tbody>
</table>
